.product{
    max-width: 25rem;
   
    animation: slide-up 0.5s ease 1;
    transition: all 0.3s ;
}
.product-card {
    background: var(--background);
    color: var(--foreground);
    
}
.product-card h3{
    
    color: var(--text-background);
    
}
.product-card h4{
    
    color: var(--text-background);
    
}
.btn-background{
    background: var(--btn-foreground);
    color: var(--btn-background);
}

@keyframes slide-up {
    0% {
        transform: translateY(2rem);
    }
    100% {
        transform: translateY(0);
    }
}