.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
    margin: 0 7px 7px 0;
    background: var(--dark-blue);
    color:#fff;
    box-shadow:  --box-shadow;
}